<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Images Uploaded</title>
</head>
<body>
    <form action="{{ url_for('upload') }}">
        <input type="submit", value="upload another image">
    </form>
    {% for hist in hists %}
    <a href="{{ url_for('fullImg', img_name=hist) }}">
        {% if hist != '.DS_Store' %}
            <img src="/static/users/{{ username }}/original/{{ hist }}" alt="{{hist}}" width="100">
        {% endif %}
    </a>
    {% endfor %}
</body>
</html>