<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register now</title>
</head>
<body>

    <h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                   {% for message in messages %}
                   <li>{{ message }}</li>
                   {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </h1>

    <form method="post" action="{{ url_for('register') }}">
        User name:<br>
        <input type="text" name="username" value="{{ username if username != None}}" required><br>
        Password<br>
        <input type="password" name="password" required><br>
        Confirm Password<br>
        <input type="password" name="confirm_password" required><br>
        <input type="submit" value="Register">
        <input type="reset">
    </form>
</body>
</html>