{% extends 'after_login_base.html'%}

{% block title%}Upload{%endblock%}

{%block main%}

<h3 class="page-title">Hello! {{user}}</h3>
<br>
<div class="button">
<div class="custom-file">

    <form action="{{ url_for('upload') }}" enctype="multipart/form-data" method="POST">

            <input type="file" class="custom-file-input" id="customFile" name="file">
            <label class="custom-file-label" for="customFile">Choose file</label>
            <!--<input type="file" name="file"><br>-->
            <!--<input type="submit">-->
            <br>
            <br>
            <button type="submit" class="btn btn-primary btn-block">Upload Photo</button>

    </form>

</div>
</div>

<div class="button-list">
    <div class="btn-group-vertical">
        <br>
        <a href="{{ url_for('preview') }}" class="button">
            <button type="button" class="btn btn-primary btn-block">View uploaded images</button>
        </a>
    </div>
</div>
<br>

{%endblock%}