{% extends 'after_login_base.html'%}

{% block title%}User{%endblock%}

{%block main%}
<h3 class="page-title">Hello! {{user}}</h3>
<br>
<div class="button-list">
    <div class="btn-group-vertical">
        <a href="{{ url_for('upload') }}" class="button">
        <button type="button" class="btn btn-primary btn-block">Upload a image</button>
        </a>
        <br>
        <a href="{{ url_for('preview') }}" class="button">
        <button type="button" class="btn btn-primary btn-block">View uploaded images</button>
        </a>
    </div>
</div>
<br>
{%endblock%}